Los servicios online de la Administración empezaron a analizar el comportamiento y a tomar decisiones basadas en datos para mejorar la experiencia en línea.

Tu primera tarea consiste en evaluar la calidad de una muestra de datos recogidos y prepararla para futuros análisis.

# Cuestionario

Vamos a evaluar la calidad de los datos recogidos sobre los ciudadanos. Te han pedido que revises los datos recopilados y propongas cambios. A continuación, verás datos sobre un usuario o una usuaria en particular; Revisaremos los datos e identificaremos cualquier posible problema.

In [1]:
id_card_no = 3428563
name_surname = 'Joseph_Kobe_Steeler '
age = '74'
subscriptions = ['TAXES', 'social security']

Examina las opciones que aparecen a continuación y selecciona las que reflejen los problemas que has detectado en los datos recogidos sobre el ciudadano anterior.

**Opciones:**

1. El tipo de datos de `id_card_no` no debe cambiarse de entero a string.
    
2. La variable `name_surname` contiene strings con espacios innecesarios y guiones bajos entre las partes del nombre, debemos conservarlo.
    
3. El tipo de datos de `age` es correcto.
    
4. La lista `subscriptions` contiene strings en mayúsculas y minúsculas para las distintas entradas. No hay ningún problema en que las listas sean así.

Escribe en la celda Markdown a continuación los números de las opciones que has identificado como problemas. Si se han encontrado varios problemas, sepáralos con comas.

**Escribe aquí tu respuesta y explica tus argumentos:**

# Ejercicio 1

Empecemos a hacer cambios para los problemas que hemos identificado. Primero, necesitamos corregir los problemas de la variable `name_surname`. Tenemos que eliminar los espacios y sustituir los guiones bajos por espacios.

In [2]:
name_surname = 'Joseph_Kobe_Steeler '
print(name_surname)
# Limpia los espacios al inicio y al final, y reemplaza los guiones bajos por espacios.

usuario_nombre = name_surname.strip().replace("_"," ")

print(usuario_nombre)

Joseph_Kobe_Steeler
Joseph Kobe Steeler

# Ejercicio 2

Vamos a dividir el nombre completo almacenado en la variable `name_surname` en substrings. Necesitamos obtener una lista que contenga los nombres por separado.

In [3]:
name_surname = 'Joseph_Kobe_Steeler '

# Divide el string en una lista de nombres.
usuario_nombre = name_surname.strip().replace("_"," ").split()
#usuario_nombre = name_surname.strip().split('_')
#type(usuario_nombre)
print(usuario_nombre)

['Joseph', 'Kobe', 'Steeler']

# Ejercicio 3

Arreglemos la variable `age`, ya que tiene un tipo de datos incorrecto.

In [4]:
age_str = '34'

# Convierte la edad a un tipo de dato numérico (entero).
age_num = int(age_str)
print(age_num)

34

# Ejercicio 4

¿Y qué pasaría si en lugar de la edad tuviéramos otra cosa que no fuera exactamente un número (ej. 'setenta y cuatro')? No podríamos convertirlo a `int` y nuestro programa fallaría.

Vamos a escribir un fragmento de código para evitar que el programa se bloquee. En su lugar, deberá mostrar un mensaje de error amigable: `La edad debe ser un valor numérico.`

In [5]:
age_invalid = "45.6"

try:
  age_valid = float(age_invalid)
  print(age_valid)
except ValueError:
  print('La edad debe ser un valor numérico')

45.6

# Ejercicio 5

El gobierno quiere enviar un correo electrónico con el siguiente texto al ciudadano, notificando el inicio de la devolución de impuestos:
`Estimado [Nombre Completo], ha gastado más de 10.000 en el mes [Nº Mes]. Su devolución de impuestos se inicia el mes que viene, el [Nº Mes + 1].`

Usa una f-string para construir el mensaje.

In [6]:
name_surname = 'Pepito Perez'
mes_actual = 8

# Construye el mensaje usando una f-string
#Estimado [Nombre Completo], ha gastado más de 10.000 en el mes [Nº Mes]. Su devolución de impuestos se inicia el mes que viene, el [Nº Mes + 1]

mensaje = f"{name_surname}, ha gastado más de 10.000 en el mes {mes_actual}. Su devolución de impuestos se inicia el mes que viene, el {mes_actual + 1}"

print(mensaje)

Pepito Perez, ha gastado más de 10.000 en el mes 8. Su devolución de impuestos se inicia el mes que viene, el 9

# Ejercicio 6

Ahora apliquemos todos los cambios a la lista de **citizens**. Te proporcionaremos una versión más corta para mayor simplicidad. Debes:

- Eliminar todos los espacios en blanco al inicio y al final de los nombres, así como cualquier guion bajo.  
- Convertir todas las edades a números enteros.  
- Separar todos los nombres y apellidos en una sublista.  
- Guardar la lista modificada en una nueva lista llamada **citizens_clean** y luego imprimirla.

In [7]:
citizens = [
      [' Joseph Kobe_Steeler', "74", 7],
      ['Rozalia_Luxemburg ', "47", 8],
      ['  Kevin Jones ', "41", 6] #
]

citizens_clean = []

#primer usuario
user_name_1 = citizens[0][0].strip().replace('_',' ').split()
user_age_1 = int(citizens[0][1])
user_number_1 = citizens[0][2]
citizens_clean.append([user_name_1,user_age_1,user_number_1])

#usuario 2
user_name_2 = citizens[1][0].strip().replace('_',' ').split()
user_age_2 = int(citizens[1][1])
user_number_2 = citizens[1][2]
citizens_clean.append([user_name_2,user_age_2,user_number_2])

#usuario 3
user_name_3 = citizens[2][0].strip().replace('_',' ').split()
user_age_3 = int(citizens[2][1])
user_number_3 = citizens[2][2]
citizens_clean.append([user_name_3,user_age_3,user_number_3])

print(citizens_clean)

print([user_name_1,user_age_1,user_number_1])
print([user_name_2,user_age_2,user_number_2])

[[['Joseph', 'Kobe', 'Steeler'], 74, 7], [['Rozalia', 'Luxemburg'], 47, 8], [['Kevin', 'Jones'], 41, 6]]
[['Joseph', 'Kobe', 'Steeler'], 74, 7]
[['Rozalia', 'Luxemburg'], 47, 8]